<a href="https://colab.research.google.com/github/mayankm2105/PYTHON-ASSIGNMENT-/blob/main/PYTHONASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question 1
"""L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print ("after adding 50  and 50 to L--->", L)"""
#############################################################
"""L = [11, 12, 13, 14]
del L[0]
del L[1]
print ("L after deleting 11 and 13--->", L)"""
##############################################################
"""L = [11, 12, 13, 14]
L.sort()
print ("l sorted in ascending order is--->", L)

L.sort(reverse=True)
print ("l sorted in descending order is--->", L)"""
################################################################
"""L = [11, 12, 13, 14]
print ("13 is present in L-->", 13 in L)
if 13 in L:
  print ("present")
else:
  print("absent")"""
##################################################################
"""L = [11, 12, 13, 14]
print ("total no. of elements in L:", len(L))

s = sum(L)
print ("sum of elements of L:", s)"""

##################################################################
"""L = [11, 12, 13, 14]
s = 0
for i in range(0, len(L)):
  if L[i]%2==0:
    s = s + L[i]
print ("sum of even elements of L:", s)"""
###################################################################
"""L = [11, 12, 13, 14]
s = 0
for i in range(0, len(L)):
  if L[i]%2!=0:
    s = s + L[i]
print ("sum of odd elements of L:", s)"""
####################################################################
"""def Isprime(n):
  for i in range(2, n//2 + 1):
    if n%i==0:
      return False
  return True

L = [11, 12, 13, 14]
sum_of_prime = 0
for i in L:
  if Isprime(i):
    sum_of_prime += i

print ("sum of all prime numbers in L--->", sum_of_prime)"""
######################################################################
"""L = [11, 12, 13, 14]
for i in range(len(L)-1, -1, -1):
  del L[i]
print (L)"""
#######################################################################
L = [11, 12, 13, 14]
del L
print (L)# will show error as L is deleted"""
#####################################################################

NameError: name 'L' is not defined

In [ ]:
#QUESTION 2
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8] = 8.8
print ("D after adding-->", D"""
############################################
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print ("D after deleting--->", D"""
#############################################
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
if (6 in D.keys()):
  print ("PRESENT")
else:
  print("ABSENT") """
######################################
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (len(D))"""
#############################################
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
sum = 0
for i in D.values():
  sum = sum + i
print (sum)"""
##############################################
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3] = 7.1
print("D after updating", D)"""
###############################################
"""D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
for i in range(len(D), 0, -1):
  del D[i]
print (D)""""
###############################################

{}

In [ ]:
#QUESTION 3
"""S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S1.add(55)
S1.add(66)
print("S1 after adding 55 and 66--->", S1)"""
##################################################
"""S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S1.remove(10)
S1.remove(30)
print ("S1 after deletion--->", S1)"""
####################################################
"""S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
if 40 in S1:
  print("40 is present in S1")"""
####################################################
"""S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S3 = S1.union(S2)
print(S3)"""
#####################################################
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
S3 = S1.intersection(S2)
S4 = S1 - S2
print(S3)
print(S4)
#############################################################

{40, 50, 60}
{10, 20, 30}

In [ ]:
#QUESITON 4


##############################################################3
"""def Isprime(n):
  for i in range(2, n//2+1):
    if n%i==0:
      return False
  return True
for i in range(600,800):
  if Isprime(i):
    print(i)"""
#############################################################
"""def divisible(n):
  if n%7==0 and n%9==0:
    return True
  return False
for i in range(100,1000):
  if divisible(i):
    print(i)"""
###############################################################

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
#QUESTION 5
import random as r
A = [r.randint(10,30) for i in range(10)]
B = [r.randint(10,30) for i in range(10)]
print ("LIST A-->", A)
print ("LIST B-->", B)
print ("common elements of A and B-->",set(A).intersection(set(B)))
print ("unique elements of A-->", set(A)-set(B),"\nunique elements of B-->", set(B)- set(A))
print ("max in A-->", max(A), "\nmax in B-->", max(B))
print ("min in A-->", min(A), "\nmin in B-->", min(B))
print ("sum of A and B-->", sum(A)+sum(B))

LIST A--> [22, 18, 26, 29, 12, 13, 15, 22, 23, 15]
LIST B--> [14, 26, 29, 30, 18, 11, 14, 12, 30, 17]
common elements of A and B--> {18, 26, 12, 29}
unique elements of A--> {23, 13, 22, 15}
unique elements of B--> {17, 11, 14, 30}
max in A--> 29
max in B--> 30
min in A--> 12
min in B--> 11
sum of A and B--> 396

In [ ]:
#QUESTION 6
def isprime(n):
  for i in range(2,n//2+1):
    if n%i==0:
      return False
  return True

import random as r
A = [r.randint(100,900) for i in range(100)]
for i in A:
  print (i)

count_odd = 0
count_even = 0
count_prime = 0
for i in A:
  if i%2==0:
    count_odd += 1
  else :
    count_even += 1

for i in A:
  if isprime(i):
    count_prime += 1

print ("odd numbers-->", count_odd)
print ("even numbers-->", count_even)
print ("prime numbers-->", count_prime)

340
617
216
708
841
841
895
457
283
675
260
573
680
175
570
745
709
365
186
420
682
893
119
694
892
659
191
534
118
603
559
478
314
661
221
490
214
230
362
702
660
759
515
465
747
399
825
202
411
478
225
475
787
474
439
591
750
245
787
715
638
782
323
193
610
419
472
534
741
766
369
213
281
250
402
522
863
664
245
465
796
894
873
860
790
201
463
213
669
673
542
289
497
323
478
105
355
293
803
657
odd numbers--> 41
even numbers--> 59
prime numbers--> 17

In [36]:
#QUESTION 7
D = {1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five"}
v = list(D.values())
k = list(D.keys())
fp = open('question7.txt', 'w')
for i in range(0,5):
  fp.write(str(k[i]) + "," + str(v[i]) + "\n")
fp.close()

In [47]:
#QUESTION 8
L = ["One", "Two", "Three", "Four", "Five"]
length = []
for i in range(0,5):
  x = len(L[i])
  length.append(x)
fp = open('question8', 'w')
for i in range(0,5):
  fp.write(str(L[i]) + ", " + str(length[i]) + "\n")
fp.close()

In [15]:
#QUESTION 9
import random as r
import string as s
fp = open('file.txt', 'w')
length = r.randint(10,15)
chars = s.ascii_letters + s.digits
for i in range(100):
  random = ''.join(r.choices(chars, k=length))
  fp.write(str(random) + "\n")
fp.close()

In [18]:
#QUESTION 10
def isprime(N):
  for i in range(2,N//2+1):
    if N%i==0:
      return False
  return True

fp = open('prime.txt','w')
for i in range(600,800):
  if isprime(i):
    fp.write(str(i) + "\n")
fp.close()

In [21]:
#QUESTION 11
import time as t
t1 = t.time()
sum = 0
for i in range(5):
  sum = sum + i
print (sum)
t2 = t.time()
print ("time taken-->", t2-t1)

10
time taken--> 0.002451658248901367

In [29]:
#QUESTION 12
import random as r
import time as t
t1 = t.time()
L1 = r.sample(range(1,10000), 5000)
L1.sort()
t2 = t.time()
print ("time taken-->", t2-t1,"\n")

t1 = t.time()
L1 = r.sample(range(1,100000), 10000)
L1.sort()
t2 = t.time()
print ("time taken-->", t2-t1,"\n")

t1 = t.time()
L1 = r.sample(range(1,100000), 15000)
L1.sort()
t2 = t.time()
print ("time taken-->", t2-t1,"\n")

t1 = t.time()
L1 = r.sample(range(1,100000), 20000)
L1.sort()
t2 = t.time()
print ("time taken-->", t2-t1,"\n")

t1 = t.time()
L1 = r.sample(range(1,100000), 25000)
L1.sort()
t2 = t.time()
print ("time taken-->", t2-t1,"\n")

time taken--> 0.010702133178710938

time taken--> 0.019790172576904297

time taken--> 0.014752388000488281

time taken--> 0.02831411361694336

time taken--> 0.03462624549865723